
.Logo{
    text-align: center;
    font-size: 60%;
}
.Logo a{
    text-align: center;
    font-style: oblique;
    font-family: 'Fondamento', cursive;
}


.sideimage{
    size: 120;
}
.sideimage a img{
    justify-content: right;
    justify-content: flex;
    
}
