header{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    
}
.headerMenu a{
    display:inline-block;
    margin: 0 10px;
    text-decoration:none ;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1.2px;
}
.headerMenu a:hover{
    color: darkorange ;
}