
.navbar{
    padding: 10px 0;
}

.navbar ul{
    margin: 0;

    

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    
    
}
.navbar ul li a{
    text-decoration: none;
    display: block ;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: blue;
    padding:0 10px;  
    
}
.search form{
    display: flex;
    margin: 0 10px;
}
.searchinput{
    border: 10;
    width: 10;
    transition: width 0.5s ease-in;
}

,searchinput active{
    width: 150px;
}


