.Newspostcontainer{
    width: 70%;
    background: #ffffff;
}
.NewspostHeader{
    text-align: center;
    color: black;
}

.Posttitle{
    letter-spacing: 0.5px;
    transform: capitalize;
    font: 40px;
}
.postdate{
    font-size: smaller;
    color: grey;
    font-style: italic;

}
.postimagecontainer{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.postimagecontainer img{
    max-width: 100%;
    max-height: 100%;
}
.postcontent{
    font-size: 100%;
    color: black;
    font-style: oblique;
}